h1,
p {
  color: black;
  text-align: center;
}
body {
  background: hwb(292 56% 32%);
}
footer {
  text-align: center;
}
footer a {
  margin: 10px;
  color: rgb(46, 14, 38);
}
.croissant-photo {
  max-width: 100%;
  display: block;
  margin: 30px 0;
  border-radius: 10px;
}
